body {
    overflow-y: scroll;
    background-color: white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*************************************************************** HEADER ***************************************************************/

#header{
    background-color: rgba(0, 0, 0, 0);
    height: 101px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.header-border{
    border-bottom: solid 1px rgb(0, 126, 143);
}

.big-logo{
    width: 180px;
    height: 72px;
}

.medium-logo{
    width: 126px;
    height: 50px;
}

.nav-menu{
    color: white;
    font-size: 16px;
    
}

.nav-menu::after{
    content: "˅"; 
    vertical-align: -moz-middle-with-baseline;
    padding: 5px;
    font-size: 14px;
    font-weight: 100;
}

.fixed_header{
    transition: all .7s ease 0s;
    position: fixed;
    top: 0px;
    -moz-animation-timing-function: ease-out;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    box-shadow: 0 0px 5px 0;
}

.prod-dropdown{
    width: 932px;
}

/* HOME SLIDER */

.home-slider-row{
    margin-top: -152px;
    margin-right: -225px;
    margin-left: -225px;
}


.home-slider-row button[aria-label="Next"]{
    position: absolute;
    background: rgba(204,204,204,.7);
    transition: all 700ms ease 0s;
    height: 60px;
    width: 60px;
    top: -672px;
    border-radius: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    left: 43vw;
    color: gray;
}

.home-slider-row button[aria-label="Next"]:hover{
    color: white;
    background: rgba(100, 100, 100, 0.9);

}

.home-slider-row button[aria-label="Previous"]{
    position: absolute;
    background: rgba(204,204,204,.7);
    transition: all 700ms ease 0s;
    height: 60px;
    width: 60px;
    top: -672px;
    border-radius: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    right: 43vw;
}

.home-slider-row button[aria-label="Previous"]:hover{
    color: white;
    background: rgba(100, 100, 100, 0.9);

}

.glider-slide{
    width: 119vw;
}

/* CATEGORY GRID */

.car-grid-row{
    position: relative;
    width: 807px;
    margin: 0 auto;
    margin-top: -110px;
    background-color: white;
}

.right-col{
    padding-top: 25px;
    padding-left: 17px;
}

.smartphone-img{
    padding: 25px 12px 25px 25px;
}

.music-img{
    width: 355px;
    height: 222px;
}

.laptop-img{
    width: 355px;
    height: 222px;
    padding-top: 24px;
}


body.cms-home{
    .prod-image{
        width: 270px;
        height: 344px;
    }
    
    
    .item-buttons{
        position: relative;
        top: -214px;
        display: flex;
        flex-direction: column;
        left: 107px;
    }
    
    
    .btn-addtocart{
        padding: 6px;
        padding-right: 0px;
        margin-right: unset;
        position: relative;
        left: 130px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
        
    }
    
    .btn-wishlist{
        position: relative;
            left: 90px;
            transition: all .7s ease 0s;
            border-radius: 0px;
            background-color: gray;
            color: white;
            margin-bottom: 3px;
    }
    
    .btn-addtocompare{
        position: relative;
            left: 60px;
            transition: all .7s ease 0s;
            border-radius: 0px;
            background-color: gray;
            color: white;
            margin-bottom: 3px;
    }
    
    .prod-image{
    width: 270px;
    height: 344px;
    }


    .item-buttons{
        position: relative;
        top: -214px;
        display: flex;
        flex-direction: column;
        left: 107px;
    }


    .btn-addtocart{
        padding: 6px;
        padding-right: 0px;
        margin-right: unset;
        position: relative;
        left: 130px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
        
    }

    .btn-wishlist{
        position: relative;
        left: 90px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
    }

    .btn-addtocompare{
        position: relative;
        left: 60px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
    }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

body.category-products{
    .container{
        max-width:1200px;
    }
    .columns{
        width: 1200px;
    }
    .pagebuilder-slider{
    .carousel-nav{
        width: 100%;
        height: 100%;
        background-color:transparent;
        justify-content:space-between;
        .glider-dots{
            align-self: flex-end;
        }
        .glider-prev,
        .glider-next{
            visibility: hidden;
            width: 60px;
            height: 60px;
            background: #5d5d5d;
            border-radius: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all .7s ease 0s;
        }
        &:hover{
            .glider-prev,
            .glider-next{
                visibility: initial;
            }   
        }
    }}
    .products-grid,
    .new_collection_product_slider .block-content,
    .featured_product_slider .glider-contain{
        display: flex;
        flex-direction: column-reverse;
        .carousel-nav{
            justify-content: end;
        }
        .glider-prev,
        .glider-next{
                border: 1px solid black;
                border-radius: 0px;
        }
        .item{
            min-width: 150px;
            max-width: 270px;
            z-index: 5;
            margin: 0;
            padding: 0;
            overflow: hidden;
            margin: 0px 8px;
            --tw-shadow: none;
            a{
                margin: 0;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            &:hover{
                .add_to_compare,
                .add_to_wishlist
                {
                    left: 0px;
                    transition: all .7s ease 0s;
                }
                .add_to_cart{
                    left: 2px;
                    transition: all .7s ease 0s;
                }
                img:hover{
                    --tw-shadow: none;
                }
                
            }
        }
    }
    .products-grid,
    .new_collection_product_slider .block-content .grid{
        margin: 0px;
        margin-right: 8px;
    }
    .products-grid,
    .new_collection_product_slider .block-content,
    .featured_product_slider .glider{
        width: 100%;
    }
    .new_collection_product_slider .carousel-nav{
        display: none;
    }
    .shop_by_brands{
        text-transform: uppercase;
        font-size: 26px;
        font-weight: bolder;
        letter-spacing: 4px;

    }
    .new_collection_heading,
    .featured_product_heading{
        position: relative;
        text-transform: uppercase;
        font-size: 26px;
        font-weight: bolder;
        letter-spacing: 4px;
        z-index: 10;
    }
    .featured_product_heading{
        top: 71px;
    }
    .new_collection_heading{
        position: relative;
        top: 0px;
    }

    
    [data-content-type="row"][data-appearance="contained"]{
        padding: 0px;
    }

    .positioned_tools{
        position: relative;
        top: -206px;
        display: flex;
        flex-direction: column;
        left: 107px;
    }
    .add_to_cart{
        padding: 6px;
        padding-right: 0px;
        margin-right: unset;
        position: relative;
        left: 130px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
    }
    .add_to_wishlist{
        position: relative;
        left: 90px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
        &:hover{
            color: red;
        }
    }
    .add_to_compare{
        position: relative;
        left: 60px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
    }
    
    .brand_imgs{
        min-width: 160px;
        height: 160px;
        opacity: .5;
        transition: all .4s ease 0s;
        cursor: pointer;
        text-align: center;
        &:hover{
            opacity: 1;
        }
    }
    .brand_imgs_container{
        min-width: 234px;
        margin-bottom: 30px;
    }
    .services_img{
        display: flex;
        justify-content: center;
    }
    .services_heading{
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Oswald',sans-serif;
    }
    .services_container{
        display: flex;
        height: 78px;
        justify-content: space-around !important;
    }


.nav-menu::after{
        content: "˅";
        vertical-align: -moz-middle-with-baseline;
    }

.fixed_header{
    transition: all .7s ease 0s;
    position: fixed;
    top: 0px;
    -moz-animation-timing-function: ease-out;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    box-shadow: 0 0px 5px 0;
}

.grid_view{
    .align_item{
        justify-content: center;
    }
}

.list_view{
    .align_item{
        justify-content: flex-end;
    }
}


body.catalog-category-view{
    #maincontent{
        margin-top:0px;
    }
    .page-main{
        margin: 0px;
    }
}

body.catalog-product-view{
    #maincontent{
        margin-top: 0px;
    }
    .columns{
        padding: 0px;
    }
}

textarea,
[type="text"]{
    border-color:  #eaeaea;
}


.pd0{
    padding-top: 0px;
}


}




/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */


/* TRENDING */

.trending-heading{
    color: #201f1f;
    font-size: 33px;
    letter-spacing: 4px;
    font-family: "Oswald",sans-serif;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}


/* RIPPED BANNER */

.ripped-banner{
    height: 309px;
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-content: center;
    margin-left: -205px;
    margin-right: -205px;
}

.ripped-banner p {
    /* padding-top: 81px; */
    font-family: "FiraSans";
    font-weight: 600;
}

@media (max-width:500px) {
    #html-body .ripped-banner{
        display: none;
    }
    .ripped-banner p {
        display: none;
    }
}


/* NEW ARRIVALS */

.new-arrivals-heading{
    color: #201f1f;
    font-size: 33px;
    letter-spacing: 4px;
    font-family: "FiraSans",sans-serif;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

/* USP */

.usp-row {
    padding-top: 90px;
}

.usp-columns{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usp-columns .pagebuilder-column-line{
    max-width: 1200px;
}

.usp-column{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.usp-shipping-img{
    width: 71px;
    height: 32px;
    margin-left: -19px;
    margin-bottom: 10px;
}

.usp-support-img{
    width: 49px;
}

.usp-money-img{
    width: 46px;
    margin-bottom: 8px;
}

@media (max-width:500px) {
    .usp-columns .pagebuilder-column-line{
        flex-direction: column;
    }
    .usp-column{
        display: flex;
        align-self: center;
        margin: 0 auto;
    
    }
}


.page-main {
    @apply my-8;
}

.flex-columns-wrapper {
    @apply flex flex-col;

    @screen md {
        @apply flex-row;
    }
}

.columns {
    @apply grid grid-cols-1 gap-x-8 gap-y-4 container;
    grid-template-rows: auto minmax(0,1fr);

    .main {
        @apply order-2;
    }

    .sidebar {
        @apply order-3;
    }

    .page-main-full-width & {
        @apply max-w-none px-0;
    }
}

.page-with-filter {
    .columns {
        .sidebar-main {
            @apply order-1;
        }
    }
}

@screen sm {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-2;

            .main {
                @apply col-span-2;
            }

            .sidebar {
                @apply order-3;
            }
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                @apply order-1 col-span-2;
            }
        }
    }
}

@screen md {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-3;

            .main {
                @apply row-span-2;
            }

            .sidebar {
                @apply col-span-1;
            }
        }
    }

    .page-layout-2columns-left,
    .page-layout-3columns {
        .columns {
            .main {
                @apply col-start-2 !important;
            }
            .sidebar {
                @apply order-1;
            }

            .sidebar ~ .sidebar-additional {
                @apply order-3;
            }

        }
    }

    .page-layout-2columns-right,
    .page-layout-2columns-right.page-with-filter {
        .sidebar-main {
            @apply order-3;
        }
    }
}

@screen lg {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-4;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right {
        .columns {
            .main {
                @apply col-span-3;
            }
        }
    }
    .page-layout-3columns {
        .columns {
            .sidebar-additional {
                @apply col-start-4;
            }
        }
    }
}

.product-image-container {
    width: 100% !important;

    img {
        width: 100%;
    }
}



.products-grid,
    .new-arrivals-grid .block-content
    {
        display: flex;
        flex-direction: column-reverse;
        .carousel-nav{
            justify-content: end;
        }
        .glider-prev,
        .glider-next{
                border: 1px solid black;
                border-radius: 0px;
        }
        
        .item{
            min-width: 150px;
            max-width: 270px;
            z-index: 5;
            margin: 0;
            padding: 0;
            overflow: hidden;
            margin: 0px 8px;
            --tw-shadow: none;
            a{
                margin: 0;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            &:hover{
                .add_to_compare,
                .add_to_wishlist
                {
                    left: 0px;
                    transition: all .7s ease 0s;
                }
                .add_to_cart{
                    left: 2px;
                    transition: all .7s ease 0s;
                }
                img:hover{
                    --tw-shadow: none;
                }
                
            }
        }
    }

.new-arrivals-grid form{
    height: 553px;
}

.trending-carousel .glider-contain{
    display: flex;
    /* flex-direction: column-reverse; */
    /* .carousel-nav{
        justify-content: end;
    } */
    .glider-prev,
    .glider-next{
            border: 1px solid black;
            border-radius: 0px;
    }
    
    .item{
        min-width: 150px;
        max-width: 270px;
        z-index: 5;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: 0px 8px;
        --tw-shadow: none;
        a{
            margin: 0;
            width: 100%;
            img{
                width: 100%;
            }
        }
        &:hover{
            .btn-addtocompare,
            .btn-wishlist
            {
                left: 0px;
                transition: all .7s ease 0s;
            }
            .btn-addtocart{
                left: 2px;
                transition: all .7s ease 0s;
            }
            img:hover{
                --tw-shadow: none;
            }
            
        }
    }
}

/* NEWSLETTER */

.my-news-letter{
    
}

.my-news-letter h2{
    letter-spacing: 5px;

}

.my-news-letter img{
    margin-bottom: 15px;

}

.news-input{
    background-color: transparent;
    padding-left: 15px;
    margin-right: 35px;
}

.news-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    
}

/* FOOTER */

.footer{
    background-color: #f8f8f8;
}

.below-footer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    max-width: 1200px;
    margin-top: 15px;
}

.foot-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.foot-link{
    margin: 0 15px;
    color: #707070;
}


.foot-text{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.52857143;
}

/* @media (max-width: 986px) {
    .below-footer{
        display: flex;
        flex-direction: column;
    }
} */

@media (max-width: 986px) {
    .below-footer{
        display: flex;
        flex-direction: column;
    }
    .foot-text{
        font-size: 11px;
        text-align: center;
    }
    .foot-links{
        justify-content: center;
        margin-bottom: 15px;
    }



    .my-news-letter h2{
        width: 70%;
        margin: 0 auto;
    }
    .my-news-letter input{
        width: 160px;
        margin-right: 30px;
    }
}




/* ################## CATEGORY PAGE ################################### */

.positioned_tools{
    position: relative;
    top: -206px;
    display: flex;
    flex-direction: column;
    left: 107px;
}
.add_to_cart{
    padding: 6px;
    padding-right: 0px;
    margin-right: unset;
    position: relative;
    left: 130px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
}
.add_to_wishlist{
    position: relative;
    left: 90px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
    &:hover{
        color: red;
    }
}
.add_to_compare{
    position: relative;
    left: 60px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
}

.grid_view{
    .align_item{
        justify-content: center;
    }
}

.list_view{
    .align_item{
        justify-content: flex-end;
    }
}


body.catalog-category-view{
    #maincontent{
        margin-top:0px;
    }
    .page-main{
        margin: 0px;
    }
}

body.catalog-product-view{
    #maincontent{
        margin-top: 0px;
    }
    .columns{
        padding: 0px;
    }
}

textarea,
[type="text"]{
    border-color:  #eaeaea;
}