body {
    overflow-y: scroll;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* HEADER */

#header{
    background-color: rgba(172, 23, 23, 0);
}

.fixed_header{
    transition: all .7s ease 0s;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    -moz-animation-timing-function: ease-out;
    -moz-animation-direction: normal;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
    box-shadow: 0 0px 5px 0;
}


/* HOME SLIDER */

.home-slider-row{
    margin-top: -152px;
    margin-right: -225px;
    margin-left: -225px;
}

.home-slider-row button[aria-label="Next"]{
    position: absolute;
    background: gray;
    height: 63px;
    width: 71px;
    top: -172px;
    border-radius: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    left: 42vw;
}

.glider-slide{
    width: 119vw;
}

.prod-image{
    width: 270px;
    height: 344px;
}


.item-buttons{
    position: relative;
    top: -214px;
    display: flex;
    flex-direction: column;
    left: 107px;
}


.btn-addtocart{
    padding: 6px;
    padding-right: 0px;
    margin-right: unset;
    position: relative;
    left: 130px;
    transition: all .7s ease 0s;
    border-radius: 0px;
    background-color: gray;
    color: white;
    margin-bottom: 3px;
    
}

.btn-wishlist{
    position: relative;
        left: 90px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
}

.btn-addtocompare{
    position: relative;
        left: 60px;
        transition: all .7s ease 0s;
        border-radius: 0px;
        background-color: gray;
        color: white;
        margin-bottom: 3px;
}

/* TRENDING */

.trending-heading{
    color: #201f1f;
    font-size: 33px;
    letter-spacing: 4px;
    font-family: "Oswald",sans-serif;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}


/* RIPPED BANNER */

.ripped-banner{
    height: 309px;
    display: flex;
    font-size: 36px;
    align-items: center;
    justify-content: center;
}

.ripped-banner p {
    /* padding-top: 81px; */
    font-family: "FiraSans";
    font-weight: 600;
}

@media (max-width:500px) {
    #html-body .ripped-banner{
        display: none;
    }
    .ripped-banner p {
        display: none;
    }
}


/* NEW ARRIVALS */

.new-arrivals-heading{
    color: #201f1f;
    font-size: 33px;
    letter-spacing: 4px;
    font-family: "FiraSans",sans-serif;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
}

/* USP */

.usp-row {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    margin-bottom: 50px;
}

.usp-columns{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.usp-column{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

@media (max-width:500px) {
    .usp-columns .pagebuilder-column-line{
        flex-direction: column;
    }
    .usp-column{
        display: flex;
        align-self: center;
        margin: 0 auto;
    
    }
}


.page-main {
    @apply my-8;
}

.flex-columns-wrapper {
    @apply flex flex-col;

    @screen md {
        @apply flex-row;
    }
}

.columns {
    @apply grid grid-cols-1 gap-x-8 gap-y-4 container;
    grid-template-rows: auto minmax(0,1fr);

    .main {
        @apply order-2;
    }

    .sidebar {
        @apply order-3;
    }

    .page-main-full-width & {
        @apply max-w-none px-0;
    }
}

.page-with-filter {
    .columns {
        .sidebar-main {
            @apply order-1;
        }
    }
}

@screen sm {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-2;

            .main {
                @apply col-span-2;
            }

            .sidebar {
                @apply order-3;
            }
        }
    }

    .page-with-filter {
        .columns {
            .sidebar-main {
                @apply order-1 col-span-2;
            }
        }
    }
}

@screen md {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-3;

            .main {
                @apply row-span-2;
            }

            .sidebar {
                @apply col-span-1;
            }
        }
    }

    .page-layout-2columns-left,
    .page-layout-3columns {
        .columns {
            .main {
                @apply col-start-2 !important;
            }
            .sidebar {
                @apply order-1;
            }

            .sidebar ~ .sidebar-additional {
                @apply order-3;
            }

        }
    }

    .page-layout-2columns-right,
    .page-layout-2columns-right.page-with-filter {
        .sidebar-main {
            @apply order-3;
        }
    }
}

@screen lg {

    .page-layout-2columns-left,
    .page-layout-2columns-right,
    .page-layout-3columns {
        .columns {
            @apply grid-cols-4;
        }
    }

    .page-layout-2columns-left,
    .page-layout-2columns-right {
        .columns {
            .main {
                @apply col-span-3;
            }
        }
    }
    .page-layout-3columns {
        .columns {
            .sidebar-additional {
                @apply col-start-4;
            }
        }
    }
}

.product-image-container {
    width: 100% !important;

    img {
        width: 100%;
    }
}



.products-grid,
    .new-arrivals-grid .block-content
    {
        display: flex;
        flex-direction: column-reverse;
        .carousel-nav{
            justify-content: end;
        }
        .glider-prev,
        .glider-next{
                border: 1px solid black;
                border-radius: 0px;
        }
        
        .item{
            min-width: 150px;
            max-width: 270px;
            z-index: 5;
            margin: 0;
            padding: 0;
            overflow: hidden;
            margin: 0px 8px;
            --tw-shadow: none;
            a{
                margin: 0;
                width: 100%;
                img{
                    width: 100%;
                }
            }
            &:hover{
                .btn-addtocompare,
                .btn-wishlist
                {
                    left: 0px;
                    transition: all .7s ease 0s;
                }
                .btn-addtocart{
                    left: 2px;
                    transition: all .7s ease 0s;
                }
                img:hover{
                    --tw-shadow: none;
                }
                
            }
        }
    }

.new-arrivals-grid form{
    height: 553px;
}

.trending-carousel .glider-contain{
    display: flex;
    /* flex-direction: column-reverse; */
    /* .carousel-nav{
        justify-content: end;
    } */
    .glider-prev,
    .glider-next{
            border: 1px solid black;
            border-radius: 0px;
    }
    
    .item{
        min-width: 150px;
        max-width: 270px;
        z-index: 5;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin: 0px 8px;
        --tw-shadow: none;
        a{
            margin: 0;
            width: 100%;
            img{
                width: 100%;
            }
        }
        &:hover{
            .btn-addtocompare,
            .btn-wishlist
            {
                left: 0px;
                transition: all .7s ease 0s;
            }
            .btn-addtocart{
                left: 2px;
                transition: all .7s ease 0s;
            }
            img:hover{
                --tw-shadow: none;
            }
            
        }
    }
}

/* FOOTER */

.below-footer{
    display: flex;
    justify-content: space-between;
    padding:0 20px 60px 20px;
    background-color: #f8f8f8;
}

.foot-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.foot-links svg{
    margin: 0 15px;
}



.foot-text{
    font-family: "FiraSans";
    font-size: 16px;
    font-weight: 700;
    line-height: 1.52857143;
}

@media (max-width: 500px) {
    .below-footer{
        display: flex;
        flex-direction: column;
    }
    .foot-text{
        font-size: 11px;
        text-align: center;
    }
    .foot-links{
        justify-content: center;
        margin-bottom: 15px;
    }
    .my-news-letter h2{
        width: 70%;
        margin: 0 auto;
    }
    .my-news-letter input{
        width: 160px;
        margin-right: 30px;
    }
}